<template>
    <div class="fullcontainer">
      <v-row>
        <v-col md="12" cols="12" class="vote-container mt20">
              <h4 class="fs15 text-grey">ACTIVITY</h4>
        </v-col>
      </v-row>
        <v-row>
            <v-col md="2" cols="12" class="vote-container" align="center">
              <div class="bubble align-items-center">
                <strong>JD</strong>
              </div>
            </v-col>
            <v-col md="10" cols="12" align="left">
                <div class="mb5">
                    <span class="fs20 text-bold text-black name">
                      Jade Dagher
                    </span>
                </div>
                <div class="mb10">
                    <span class="comment">
                      Cette oeuvre est répertoriée sous le n°1908.43 dans le Catalogue
                      Raisonné en ligne des peintures de Cuno Amiet sous la direction
                      de M. Franz Müller.
                    </span>
                </div>
                <div class="mb10">
                    <span class="date fs15 text-grey">
                      24 avril, 2020 |<v-icon class="fs15 delete">mdi-delete</v-icon>
                    </span>
                </div>

            </v-col>
        </v-row>
        <v-row>
            <v-col md="2" cols="12" class="vote-container" align="center">
              <div class="bubble align-items-center">
                <strong>KD</strong>
              </div>
            </v-col>
            <v-col md="10" cols="12" align="left">
                <div class="mb5">
                    <span class="fs20 text-bold text-black name">
                      Kevin DIDI
                    </span>
                </div>
                <div class="mb10">
                    <span class="comment">
                      Cette oeuvre est répertoriée sous le n°1908.43 dans le Catalogue
                      Raisonné en ligne des peintures de Cuno Amiet sous la direction
                      de M. Franz Müller.
                    </span>
                </div>
                <div class="mb10">
                    <span class="date fs15 text-grey">
                      24 avril, 2020 |<v-icon class="fs15 delete">mdi-delete</v-icon>
                    </span>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="2" cols="12" class="vote-container" align="center">
              <div class="bubble align-items-center">
                <strong>MM</strong>
              </div>
            </v-col>
            <v-col md="10" cols="12" align="left">
                <div class="mb5">
                    <span class="fs20 text-bold text-black name">
                      Melissa Morange
                    </span>
                </div>
                <div class="mb10">
                    <span class="comment">
                      Cette oeuvre est répertoriée sous le n°1908.43 dans le Catalogue
                      Raisonné en ligne des peintures de Cuno Amiet sous la direction
                      de M. Franz Müller.
                    </span>
                </div>
                <div class="mb10">
                    <span class="date fs15 text-grey">
                      24 avril, 2020 |
                      <v-icon class="fs15 delete">mdi-delete</v-icon>
                    </span>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
  name: 'ResponseFeed',
  props: {
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
.delete{
  cursor: pointer;
  color: lightgrey;
}
.delete:hover{
  color: red;
}
</style>
