<template>
    <div class="fullcontainer">
        <v-col>
            <v-divider class="mb20"></v-divider>
            <h3 align="left" class="text-grey mb20">Administrateur</h3>
            <div align="left">
                <div class="mb20">
                    <h4 class="fs15 text-grey">1) TAGS</h4>
                    <p class="fs14 mb20 text-grey">Taguez les suggestions pour
                        pouvoir les filtrer</p>
                    <v-select v-model="value" :items="items" attach chips multiple></v-select>
                </div>
                <div class="mb20">
                    <h4 class="fs15 text-grey">2) ETAT DE LE SUGGESTION</h4>
                    <p class="fs14 mb20 text-grey">Indiquez l'état de la suggestion
                        dans votre pipe produit pour informer vos utilisateurs</p>
                    <v-select :items="items" label="Selectionner un état" dense solo></v-select>
                </div>
                <div class="mb20">
                    <h4 class="fs15 text-grey mb20">3) DANGER ZONE</h4>
                    <v-btn color="error" dark small @click.stop="dialog = true">
                        SUPPRIMER LA SUGGESTION
                    </v-btn>

                    <v-dialog v-model="dialog" max-width="290">
                        <v-card>
                            <v-card-title class="headline">Confirmation</v-card-title>

                            <v-card-text>
                                Vous êtes sur le point de supprimer cette suggestion,
                                souhaitez-vous continuer ?
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="dark" text @click="dialog = false">
                                    Annuler
                                </v-btn>

                                <v-btn color="error" dark large @click="dialog = false">
                                    Supprimer
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
            </div>
        </v-col>
    </div>
</template>

<script>
export default {
  name: 'ResponseAdminAction',
  props: {
  },
  data: () => ({
    items: ['foo', 'bar', 'fizz', 'buzz', 'bazz', 'Oups'],
    value: ['foo', 'bar', 'fizz', 'buzz', 'bazz', 'Oups'],
    dialog: false,
  }),
};
</script>

<style scoped>
.fullcontainer{
   max-width: 350px;
}
</style>
