<template>
    <div class="fullcontainer">
        <v-row>
            <v-col md="2" cols="12" class="vote-container">
                <v-card class="no-shadow">
                    <v-col class="triangle mb5">
                        <img class="triangle" src="@/assets/icons/triangular.svg">
                    </v-col>
                    <v-col>
                        <span><strong>89</strong></span>
                    </v-col>
                </v-card>
            </v-col>
            <v-col md="10" cols="12" align="left">
                <div class="mb5">
                    <span class="fs20 text-bold">
                      <a class="title" href="#">Automation Beta ideas & improvements</a>
                    </span>
                </div>
                <div class="mb10">
                    <v-chip outlined><span>IN PROGRESS</span></v-chip>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="2" cols="12" class="vote-container" align="center">
              <div class="bubble align-items-center">
                <strong>JM</strong>
              </div>
            </v-col>
            <v-col md="10" cols="12" align="left">
                <div class="mb5">
                    <span class="fs20 text-bold name">
                      John Mavidson
                    </span>
                </div>
                <div class="mb10">
                    <span class="comment">
                      Cette oeuvre est répertoriée sous le n°1908.43 dans le Catalogue
                      Raisonné en ligne des peintures de Cuno Amiet sous la direction
                      de M. Franz Müller.
                    </span>
                </div>
                <div class="mb10">
                    <span class="date fs15 text-grey">
                      21 avril, 2020
                    </span>
                </div>
                <div class="mt20">
                    <v-textarea
                    label="Laissez un commentaire"
                    auto-grow
                    solo
                    rows="2"
                    row-height="22"
                    ></v-textarea>
                </div>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
  name: 'SubjectTitle',
  props: {
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
</style>
