<template>
   <div class="fullcontainer">
      <v-col>
         <v-card class="pa20 shadow-blue-light">
            <div align="left">
               <h4 class="fs15 text-grey mb5">A VOTÉ</h4>
               <v-container class="align-items">
                  <div class="voter-bubble-container">
                     <div class="bubble-voter-container align-items-center">
                     <strong>JD</strong>
                     </div>
                  </div>
                  <div class="voter-bubble-container">
                     <div class="bubble-voter-container align-items-center">
                     <strong>KD</strong>
                     </div>
                  </div>
                  <div class="voter-bubble-container">
                     <div class="bubble-voter-container align-items-center">
                     <strong>LM</strong>
                     </div>
                  </div>
                  <div class="voter-bubble-container">
                     <div class="bubble-voter-container align-items-center">
                     <strong>OI</strong>
                     </div>
                  </div>
                  <div>
                     <h5 class="ml10 text-grey" >+89 VOTEURS</h5>
                  </div>
               </v-container>
            </div>
         </v-card>
         <p class="fs15 mt10 text-grey">Powered by Kloz</p>
      </v-col>
   </div>
</template>

<script>
export default {
  name: 'VotersPannel',
  props: {
  },
};
</script>

<style scoped>
.fullcontainer{
   max-width: 350px;
}
.voter-bubble-container{
   margin-left: -15px;
}
</style>
