.shadow-blue{
    box-shadow: 0 0.625rem 3.5rem 0 rgba(198,203,222,.45) !important;
}
.shadow-blue-light{
    box-shadow: 0 1px 7px 0 rgba(129,137,169,.2) !important;
}
.no-shadow{
    box-shadow: initial !important;
}
.align-items{
    /* always write it like this for safari */
    display: flex;
    align-items: center;
    justify-content: left;
}
.align-items-center{
    /* always write it like this for safari */
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}
.text-grey {
    color: grey;
}
.text-bold {
    font-weight: bold;
}
.fs5{
    font-size: 5px;
}
.fs10{
    font-size: 10px;
}
.fs14{
    font-size: 14px;
}
.fs15{
    font-size: 15px;
}
.fs20{
    font-size: 20px;
}
/* margin left */
.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

/* margin right */
.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 90px;
}

/* margin top */
.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

/* margin bottom */
.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

/* padding bottom */
.pa5 {
    padding: 5px;
}

.pa10 {
    padding: 10px;
}

.pa15 {
    padding: 15px;
}

.pa20 {
    padding: 20px;
}

/* high padding */
.palr5{
    padding-left: 5%;
    padding-right: 5%;
}

.palr10{
    padding-left: 10%;
    padding-right: 10%;
}

.palt5{
    padding-top: 5%;
    padding-top: 5%;
}

.palt10{
    padding-top: 10%;
    padding-top: 10%;
}



.title{
    text-decoration: initial;
    color: black !important;
}
.vote-container {
    max-width: 80px;;
}
.triangle{
    height: 30px;
    padding: 10;
}
.comment{
    height: 15px;
}
.bubble{
    text-transform: uppercase;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: white;
  }
  .bubble-voter-container{
    text-transform: uppercase;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    border: 1px solid white;
  }