<template>
  <div id="fullcontainer">
    <Hellobar v-if="promotion == true"/>
    <BoardMenu/>
    <v-row>
      <v-col offset="2" md="3" cols="12">
        <BoardCreateSubject/>
      </v-col>
      <v-col md="5" cols="12">
        <BoardOnboarding v-if="onboarding==false"/>
        <BoardResponse v-else/>
      </v-col>
    </v-row>

  </div>
</template>

<script>
import Hellobar from '@/components/Hellobar.vue';
import BoardMenu from '@/components/Board/BoardMenu.vue';
import BoardCreateSubject from '@/components/Board/BoardCreateSubject.vue';
import BoardResponse from '@/components/Board/BoardResponse.vue';
import BoardOnboarding from '@/components/Board/BoardOnboarding.vue';

export default {
  name: 'Board',
  components: {
    Hellobar,
    BoardMenu,
    BoardCreateSubject,
    BoardResponse,
    BoardOnboarding,
  },
  data() {
    return {
      onboarding: true,
      promotion: false,
    };
  },
};
</script>

<style scoped>
#fullcontainer {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}
</style>
