<template>
  <div id="fullcontainer">
      <Loginform/>
  </div>
</template>

<script>
import Loginform from '@/components/Loginform.vue';

export default {
  name: 'Login',
  components: {
    Loginform,
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
#fullcontainer {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

</style>
