<template>
  <div id="fullcontainer">
      <Signinform v-show="step === 'signin'" @clicked="gotoboardcreation"/>
      <BoardCreation v-show="step === 'boardcreation'"/>
  </div>
</template>

<script>
import Signinform from '@/components/Signinform.vue';
import BoardCreation from '@/components/BoardCreation.vue';

export default {
  name: 'Signin',
  components: {
    Signinform,
    BoardCreation,
  },
  data() {
    return {
      step: 'signin',
    };
  },
  methods: {
    gotoboardcreation(value) {
      if (value === 'createYourBoard') {
        this.step = 'boardcreation';
      }
    },
  },
};
</script>

<style scoped>
#fullcontainer {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

</style>
