<template>
  <div class="fullcontainer">
      <v-row>
        <v-col>
            <v-card class="pa20 shadow-blue">
                <v-container>
                    <h2 class="mb10">Bonjour xxx, voici ton nouveau board!</h2>
                    <p class="text-grey">Utilise le formulaire
                        pour créer la première suggestion</p>
                </v-container>
                <v-container>
                    <img class="arrow-onboarding" src="@/assets/images/arrow-left.jpg">
                </v-container>
            </v-card>
        </v-col>
      </v-row>
  </div>
</template>

<script>
export default {
  name: 'BoardOnboarding',
  props: {
  },
};
</script>

<style scoped>
.arrow-onboarding{
    width: 50%;
}
</style>
