<template>
  <div class="fullcontainer">
    <v-row>
        <v-col sm="6" md="5" cols="12">
            <v-text-field
                id="search"
                label="Recherchez..."
                solo
                dense
            ></v-text-field>
        </v-col>
    </v-row>
    <v-row>
        <v-col md="2" cols="12" class="vote-container">
            <v-card class="no-shadow">
                <v-col class="triangle mb5">
                    <img class="triangle" src="@/assets/icons/triangular.svg">
                </v-col>
                <v-col>
                    <span>89</span>
                </v-col>
            </v-card>
        </v-col>
        <v-col md="8" cols="12" align="left">
            <div class="mb5">
                <span class="fs20 text-bold">
                    <a class="title" href="#">Automation Beta ideas & improvements</a>
                </span>
            </div>
            <div class="mb10">
                <v-chip outlined><span>IN PROGRESS</span></v-chip>
            </div>
            <div>
                <span class="fs15">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore
                </span>
            </div>
        </v-col>
        <v-col md="2" cols="12">
            <div class="align-items">
                <img class="comment" src="@/assets/icons/comment.svg">
                <span class="ml5">200</span>
            </div>
        </v-col>
      </v-row>

  </div>
</template>

<script>
export default {
  name: 'BoardResponse',
  props: {
  },
};
</script>

<style scoped>
</style>
