<template>
  <div class="palt5" :class="{'palr10': $vuetify.breakpoint.smAndDown}">
      <v-col offset-md="2" md="5" cols="12" class="mx-auto" align="center">
        <v-card class="pa20 shadow-blue">
          <h2 class="mt20 mb20">Création de votre board</h2>
          <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut</p>

          <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        >
        <v-text-field
        v-model="boardName"
        :rules="boardNameRules"
        label="Nom du Board"
        required
        outlined
        background-color="white"
        ></v-text-field>

        <v-text-field
        v-model="url"
        :rules="urlRules"
        label="URL"
        required
        outlined
        suffix=".kloz.io"
        background-color="white"
        ></v-text-field>

        <div align="right">
          <v-btn
          :disabled="valid"
          color="#6dd345"
          @click="validate"
          dark
          >
          Créer mon board
          </v-btn>
        </div>

        </v-form>
        </v-card>
      </v-col>
  </div>
</template>

<script>
export default {
  name: 'BoardCreation',
  props: {
  },
};
</script>

<style scoped>
</style>
