<template>
  <v-card>
    <v-footer
      class="footer font-weight-medium"
    >
      <v-col
        class="text-center text-grey fs15"
        cols="12"
      >
        {{ new Date().getFullYear() }} — © Kloz 2020
      </v-col>
    </v-footer>
  </v-card>
</template>

<script>
export default {
  name: 'Footer',
  props: {
  },
};
</script>

<style scoped>
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>
