<template>
   <div class="palt5" :class="{'palr10': $vuetify.breakpoint.smAndDown}">
      <h2 class="mt20 mb20">Connexion à votre board</h2>
      <v-col offset-md="5" md="2" cols="12" class="mx-auto" align="center">
         <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-text-field
               v-model="email"
               :rules="emailRules"
               label="E-mail"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-text-field
               v-model="password"
               :rules="passwordRules"
               label="Mot de passe"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-btn
               :disabled="!valid"
               color="#6dd345"
               @click="validate"
               large
               >
               Connexion
            </v-btn>
            <p class="mt20"><a>Mot de passe oublié ?</a></p>
         </v-form>
      </v-col>
   </div>
</template>

<script>
export default {
  name: 'Loginform',
  props: {
  },
};
</script>

<style scoped>
</style>
